* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
  list-style: none;
  text-decoration: none;
  
}

body {
  background: linear-gradient(60deg, #0c0d79 0%, #189eeb 60%, #0c0d79 60%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  /* background-size: cover; */
}

header {
  /* position: fixed; */
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}

.logo {
  font-size: 40px;
  font-weight: 500;
  color: white;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  border-radius: 10px;
}

.navlist {
  display: flex;
}

.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navlist a:hover {
  border-bottom: 2px solid white;
}

#menu-icon {
  color: white;
  font-size: 40px;
  z-index: 1000;
  display: none;
  cursor: pointer;
  
  
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

section {
  padding: 0 20%;
  
}

.hero-text h5 {
  font-size: 20px;
  color: white;
  margin-bottom: 40px;
}

.hero-text h1 {
  font-size: 60px;
  line-height: 1;
  color: white;
  margin: 0 0 20px;
}

.hero-text h4 {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 10px;
}

.hero-text p {
  color: white;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 40px;
}

.hero-img img {
  width: auto;
  height: auto;
}

.hero-text a {
  display: inline-block;
  color: white;
  background: #0c0d79;
  border: 2px solid transparent;
  padding: 12px 30px;
  line-height: 1;
  font-size: 15px;
  font-weight: 500;
  border-radius: 30px;
  transition: all 0.55s ease;
}

.hero-text a.watch i {
  font-size: 25px;
  vertical-align: middle;
  margin-right: 5px;
}

.hero-text a:hover {
  border: 2px solid white;
  transform: translateY(2px);
}

.icons {
  justify-content: space-between;
  display: flex;
  padding: 40px 10%;
 
}

.icons i {
  font-size: 50px;
  color: white;
  z-index: 1000;
}

.icons i:hover {
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  border-radius: 20px;
}

@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }

  .icons {
    padding: 2.5%;
    transition: 0.2s;
  }
}

@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: 0.2s;
  }
}
@media (max-width: 1340px) {
  .hero-img img {
    width: auto;
    height: auto;
  }
  .hero-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }
  .hero-text h5 {
    margin-bottom: 25px;
  }
}
@media (max-width: 950px) {
  section {
    padding: 0 3%;
    transition: 0.2s;
  }
  .hero-text {
    padding-top: 115px;
  }
  .hero-img {
    text-align: center;
  }
  .hero-img img {
    width: auto;
    height: auto;
  }
  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .icons {
    display: flex;
  }
}

@media (max-width: 666px) {
  #menu-icon {
    display: flex;
  }
 
  .navlist {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    background: #189eeb;
    height: 40vh;
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all, 55s ease;
  }
  .navlist a {
    margin-left: 0;
    display: block;
    margin: 10px 0;
  }
}

/* @media (max-width: 320px){
  #menu-icon{
    display: flex;
  }
  footer{
    display: block;
  }
} */
